[submodule "sub-modules/BinarySerializer"]
	path = sub-modules/BinarySerializer
	url = https://github.com/BinarySerializer/BinarySerializer
[submodule "sub-modules/BinarySerializer.Nintendo"]
	path = sub-modules/BinarySerializer.Nintendo
	url = https://github.com/BinarySerializer/BinarySerializer.Nintendo
[submodule "sub-modules/BinarySerializer.Ubisoft.GbaEngine"]
	path = sub-modules/BinarySerializer.Ubisoft.GbaEngine
	url = https://github.com/BinarySerializer/BinarySerializer.Ubisoft.GbaEngine
